In [1]:
import pandas as pd

In [2]:
friday = pd.read_csv('train.csv')

In [3]:
friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
friday.shape

(550068, 12)

In [7]:
friday['Stay_In_Current_City_Years'].value_counts()

1     193821
2     101838
3      95285
4+     84726
0      74398
Name: Stay_In_Current_City_Years, dtype: int64

In [9]:
friday.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [15]:
friday['Product_Category_2'].fillna(friday['Product_Category_2'].mean(), inplace = True)
friday['Product_Category_3'].fillna(friday['Product_Category_3'].mean(), inplace = True)

In [16]:
friday.isnull().any()

User_ID                       False
Product_ID                    False
Gender                        False
Age                           False
Occupation                    False
City_Category                 False
Stay_In_Current_City_Years    False
Marital_Status                False
Product_Category_1            False
Product_Category_2            False
Product_Category_3            False
Purchase                      False
dtype: bool

In [19]:
x = friday.drop(['Purchase'], axis = 1)

In [22]:
x.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000001,P00069042,F,0-17,10,A,2,0,3,9.842329,12.668243
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.000000,14.000000
2,1000001,P00087842,F,0-17,10,A,2,0,12,9.842329,12.668243
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.000000,12.668243
4,1000002,P00285442,M,55+,16,C,4+,0,8,9.842329,12.668243

In [24]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [25]:
x = x.apply(LE.fit_transform)

In [26]:
x.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,0,672,0,0,10,0,2,0,2,8,9
1,0,2376,0,0,10,0,2,0,0,4,11
2,0,852,0,0,10,0,2,0,11,8,9
3,0,828,0,0,10,0,2,0,11,13,9
4,1,2734,1,6,16,2,4,0,7,8,9

In [27]:
x.dtypes

User_ID                       int64
Product_ID                    int32
Gender                        int32
Age                           int32
Occupation                    int64
City_Category                 int32
Stay_In_Current_City_Years    int32
Marital_Status                int64
Product_Category_1            int64
Product_Category_2            int64
Product_Category_3            int64
dtype: object

In [28]:
y = friday['Purchase']

In [33]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [34]:
xs = ss.fit_transform(x)

In [36]:
from sklearn.decomposition import PCA
pc = PCA(4)

In [39]:
principalComponents = pc.fit_transform(x)

In [40]:
pc.explained_variance_ratio_

array([7.35041066e-01, 2.64935867e-01, 1.10062369e-05, 6.64527050e-06])

In [41]:
principalDf = pd.DataFrame(data = principalComponents, columns = ['component 1', 'component 2', 'component 3', 'component 4'])

In [46]:
from sklearn.model_selection import KFold
kf = KFold(20)

In [57]:
for a,b in kf.split(principalDf):
    x_train, x_test = xs[a], xs[b]
    y_train, y_test = y[a], y[b]

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
from sklearn.tree import DecisionTreeRegressor

In [50]:
from sklearn.ensemble import RandomForestRegressor

In [51]:
from sklearn.ensemble import GradientBoostingRegressor

In [52]:
lr = LinearRegression()
dtr = DecisionTreeRegressor()
rfr = RandomForestRegressor()
gbr = GradientBoostingRegressor()

In [53]:
fit1 = lr.fit(x_train, y_train)
fit2 = dtr.fit(x_train, y_train)
fit3 = rfr.fit(x_train, y_train)
fit4 = gbr.fit(x_train, y_train)

C:\Users\cjohn\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [55]:
print("Accuracy Score of Linear regression on train set",fit1.score(x_train,y_train)*100)
print("Accuracy Score of Decision Tree on train set",fit2.score(x_train,y_train)*100)
print("Accuracy Score of Random Forests on train set",fit3.score(x_train,y_train)*100)
print("Accuracy Score of Gradient Boosting on train set",fit4.score(x_train,y_train)*100)

Accuracy Score of Linear regression on train set 11.782637561589548
Accuracy Score of Decision Tree on train set 100.0
Accuracy Score of Random Forests on train set 94.2213386624942
Accuracy Score of Gradient Boosting on train set 65.46092708430926

In [58]:
print("Accuracy Score of Linear regression on test set",fit1.score(x_test,y_test)*100)
print("Accuracy Score of Decision Tree on test set",fit2.score(x_test,y_test)*100)
print("Accuracy Score of Random Forests on test set",fit3.score(x_test,y_test)*100)
print("Accuracy Score of Gradient Boosting on testset",fit4.score(x_test,y_test)*100)

Accuracy Score of Linear regression on test set 36.77222943627132
Accuracy Score of Decision Tree on test set 57.68804873310642
Accuracy Score of Random Forests on test set 75.12218401985724
Accuracy Score of Gradient Boosting on testset 72.49433089629898