In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse

In [2]:
train = pd.read_csv('train_kOBLwZA.csv')
test = pd.read_csv('test_t02dQwI.csv')

In [3]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [7]:
print(train.shape, test.shape)

(8523, 12) (5681, 11)

In [12]:
train.isnull().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

In [13]:
train.dropna(axis = 0, inplace = True)
train.isnull().any()

Item_Identifier              False
Item_Weight                  False
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                  False
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

In [14]:
test.isnull().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
dtype: bool

In [15]:
test.dropna(axis = 0, inplace = True)
test.isnull().any()

Item_Identifier              False
Item_Weight                  False
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                  False
Outlet_Location_Type         False
Outlet_Type                  False
dtype: bool

In [16]:
train_x = train.drop(columns = ['Item_Outlet_Sales', 'Item_Identifier', ], axis = 1)
train_y = train['Item_Outlet_Sales']

In [17]:
test_x = train.drop(columns = ['Item_Outlet_Sales', 'Item_Identifier', ], axis = 1)
test_y = train['Item_Outlet_Sales']

In [18]:
train_x.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
4,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1
5,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2

In [19]:
train_x = pd.get_dummies(train_x)
test_x = pd.get_dummies(test_x)

In [20]:
train_x.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2
0,9.300,0.016047,249.8092,1999,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
1,5.920,0.019278,48.2692,2009,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,1
2,17.500,0.016760,141.6180,1999,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
4,8.930,0.000000,53.8614,1987,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
5,10.395,0.000000,51.4008,2009,0,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,1

In [21]:
model = LinearRegression()

In [22]:
model.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
model.coef_

array([  -3.47495461, -180.84008372,   16.33188717,   -7.02909769,
        -49.64236059,  -27.83397458,  -11.19819296,  198.3901767 ,
       -109.71564858,   -3.59160211,   80.39701403,   22.96740321,
        -48.61616525,  -96.12766138,  -59.25656046,  -52.7932179 ,
        -60.72982694,    7.69811309,  -52.0648473 ,  -33.22442699,
        -26.45378828,  398.78808663,  -13.85831396,  -85.44920238,
         22.31499599,  -10.36457885,  -58.25542356,   66.83929874,
        -58.47684901,   60.25755267,  -10.36457885,    2.00212912,
          8.36244973,    1.78070367,   66.83929874,  -68.62000241,
         58.25542356,  -58.25542356])

In [26]:
model.intercept_

14098.72077716778

In [27]:
predict_train =  model.predict(train_x)

In [28]:
rmse_train =  mse(train_y, predict_train)**0.5
rmse_train

1087.1967974060944

In [29]:
predict_test = model.predict(test_x)

In [30]:
rmse_test = mse(test_y, predict_test)**0.5
rmse_test

1087.1967974060944